<div class="nav">
  <mat-toolbar color="primary">
    <mat-toolbar-row id="headerTopRow">
      <div id="mainTitle">My Application</div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <div class="linkButtons">
        <button mat-stroked-button color="accent" routerLink="/">Home&nbsp;<mat-icon class="navIcon">home</mat-icon>
        </button>
        <button mat-stroked-button color="accent" routerLink="/about">About&nbsp;<mat-icon class="navIcon">sms
          </mat-icon>
        </button>
        <button mat-stroked-button color="accent" routerLink="/favs">Favorites&nbsp;<mat-icon class="navIcon">whatshot
          </mat-icon></button>
        <button mat-stroked-button color="accent" routerLink="/games">Games&nbsp;<mat-icon class="navIcon">
            videogame_asset
          </mat-icon></button>
        <button id="signBtn" mat-stroked-button color="accent" routerLink="/loginSignup">Login or Sign Up&nbsp;
          <mat-icon>person
          </mat-icon></button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
