<div class="container">
  <h1>ABOUT US</h1>
  <br/>

  <p>Here you can find your favorite games as well create reviews for them. You can even store your favorite games as well!
  </p>
  <br/>
  <p>
    We have a great selection of games to choose to review and add to your favorites. Do you see a game from our collection that you are passionate about or is from your childhood that creates a well of nostalgia in yourself? Leave a rating and give it comment for others to see!
  </p>
</div>
<div>
<img id="mario" src="../../assets/imgs/luigiYoshiMario.jpg" alt="undefined" />
</div>