
 
    <h3>Edit Game Info</h3>
    <form [formGroup]="EditGame" (ngSubmit)="editGamesSumbitHandler(EditGame.value)">

        <div class="form-group">
            <label for="name">Name</label>
            <input  type="text" formControlName="name"class="form-control" id="name" placeholder="Edit Name">
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control"formControlName="genre" id="genre" placeholder="Edit Genre">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" formControlName="year" placeholder="Edit Year">
        </div>
        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" class="form-control" id="publisher" formControlName="publisher" placeholder="Edit Publisher">
        </div>
        <div class="form-group">

            <button [disabled]="loading" class="btn btn-success">
                
                Update
            </button>
            <button  type="button" class="btn btn-warning ml-1" routerLink="/games">Cancel</button>
        </div>
    </form>
  
        
    

