<div formGroupName="addGame">
  <form class="addGame">

    <div class="form-group">
      <label for="name">Name:</label>
      <input class="form-control" [(ngModel)]="AddGames.name" type="text" name="name"  formControlName="name" required><br>
    </div>

    <div class="form-group">
      <label for="genre">Genre:</label>
      <input class="form-control" [(ngModel)]="AddGames.genre" type="text" name="genre"  formControlName="genre" required><br>
    </div>

    <div class="form-group">
      <label for="year">Year:</label>
      <input class="form-control" [(ngModel)]="AddGames.year" type="text" name="year" formControlName="year" required><br>
    </div>

    <div class="form-group">
      <label for="publisher">Publisher:</label>
      <input class="form-control" [(ngModel)]="AddGames.publisher" type="text" name="publisher" formControlName="publisher" required><br>
    </div>

    <button type="submit" (click)="submitForm()"> Submit </button>
  </form>
</div>
