<div class="homeContent">
  <div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
        <h6>Hi {{currentUser.userName}}!</h6>
    </div>
    <div class="carousel-item active" data-interval="6000">
      <img src="../../assets/imgs/1-video-game-wallpapers.jpg" class="d-block w-100 mh-85" alt="...">
    </div>
    <div class="carousel-item" data-interval="6000">
      <img src="../../assets/imgs/2-video-game-wallpapers.jpg" class="d-block w-100 mh-85 " alt="...">
    </div>
    <div class="carousel-item" data-interval="6000">
      <img src="../../assets/imgs/3-video-game-wallpapers.jpg" class="d-block w-100 mh-85" alt="...">
    </div>
  </div>
</div>
